.paragraph {
  display: flex;
}

.league {
  padding: 4px 8px;
  font-size: 13px;

  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.paragraph p {
  margin-bottom: 0;
}

.league:hover {
  background-color: #c8cdcd;
}

.active-league {
  background-color: #c8cdcd;
}
