.live {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.title {
  display: flex;
  justify-content: space-between;

  background-color: #eee;
  border-radius: 0.5rem;
  font-size: 0.813rem;
  font-weight: bold;
  color: #555e61;
  padding: 0.313rem;
}
.title p {
  margin-bottom: 0;
}
.title-left {
  display: flex;
  align-items: center;
}

.title-right {
  display: flex;
  text-align: center;
  align-items: center;
  margin-right: 5px;
}

.title p:hover {
  text-decoration: underline;
}

.info {
  display: flex;
  align-items: center;
  border-bottom: 0.063rem solid #eee;
  margin-top: 0.063rem;
  cursor: pointer;
}

.info:hover {
  background-color: #eee;
  transition: all 0.4s ease;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
}
.time p {
  font-size: 0.813rem;
  margin-bottom: 0;
}
.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.25rem;
  width: 15.625rem;
}
.team p {
  margin-bottom: 0;
  font-size: 0.813rem;
}
.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6.25rem;
}
.score p {
  margin-bottom: 0;
}

.star {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
}
.design {
  width: 18px;
  height: 18px;
  color: #c8cdcd;
}
.design:hover {
  fill: yellow;
}
