.wrapper{
    display: flex;
    background-color: #001e28;
    color: white;
    align-items: center;
    justify-content: space-between;
    
}

.left-content{
    display: flex;
    width: 50%;
    margin-top: 0.625rem;
    justify-content: space-between;
    padding-bottom: 0.625rem;

 
}

.left-content p {
    margin-bottom: 0;
    cursor: pointer;
    opacity: 0.7;
}

.left-content p:hover {
    opacity: 1;
    transition: opacity 0.3s;
}

.active {
    opacity: 1;
    border-bottom: 0.188rem solid red;
}
