* {
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  background-color: #001e28;
}

.main {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  min-height: calc(100vh - 117.23px);
  width: 80%;
}

.main-wrapper {
  background-color: #eee;
  display: flex;
  justify-content: center;
}

.navigate {
  text-decoration: none;
  color: white;
}

.navigate:hover {
  color: red;
  transform: scale(1.03);
}
