* {
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  background-color: #001e28;
}

.main {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  min-height: calc(100vh - 124.59px);
  width: 80%;
}

.main-wrapper {
  background-color: #eee;
  display: flex;
  justify-content: center;
}
